@model IEnumerable<Livre>

@{
    ViewData["Title"] = "Index";
}

<div class="pt-4">
    <div class="row">
        <div class="col-6">
            <h1>Liste des Livres</h1>  
        </div>
        <div class="col-6 text-end">
            <a asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus-circle-dotted"></i> &nbsp; Ajouter un Livre</a>  
        </div>
    </div>
</div>


<table class="table table-bordered table-striped pt-3">
    <thead>
        <tr>
            <th>Titre</th>
            <th>ISBN</th>
            <th>Auteur</th>
            <th>Prix</th>
            <th>Catégorie</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Livre livre in Model)
        {
            <tr>
                <td>@livre.Titre</td>
                <td>@livre.ISBN</td>
                <td>@livre.Auteur</td>
                <td>@livre.Prix</td>
                <td>@livre.Categorie.Nom</td>
                <td>
                <a asp-action="Upsert" asp-route-id="@livre.Id" class="btn btn-warning">Modifier</a> |
                <a asp-action="Details" asp-route-id="@livre.Id" class="btn btn-primary">Voir</a>
                <form asp-action="Delete" asp-route-id="@livre.Id" onclick="return confirm('Voulez-vous vraiment supprimer le livre @livre.Titre')">
                    <button type="submit" class="btn btn-danger" value="Supprimer" />
                </form>|
                </td>
            </tr>
        }
    </tbody>
</table>
